@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --h : 191;
    --color-dark : hsl(var(--h),10%,10%);
    --color-bg-dark: hsl(var(--h),50%,95%);
}

html {
    font-size: 62.5%;
}

.dark-theme{
    color: var(--color-dark);
    background-color: var(--color-bg-dark);
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.quote {
    color: rgb(54, 54, 54);
    font-size: 3rem;
    margin: 1.5rem 0;
    padding: 1rem 10rem;
}

.author {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: rgb(54, 54, 54);
}

.btn {
    text-transform: uppercase;
    padding: 0.9rem 2.3rem;
    margin-top: 8rem;
    border: 0;
    outline: 0;
    border-radius: 0.8rem;
    margin-right: 2rem;
}


.btn-next{
    color: white;
    background-color: #198754;
}

.btn-next:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(25, 135, 84, 0.79);
    -moz-box-shadow: 0px 0px 8px 0px rgba(25, 135, 84, 0.79);
    box-shadow: 0px 0px 8px 0px rgba(25, 135, 84, 0.79);
}
